.acc-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-top: 5px;
    max-width: 250px;

}

.acc-header p {
    margin-left: 8px;
    font-weight: bold;
}

.acc-content {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}